ll_env/
__pycache__/
*.sqlite3
.DS_Store

#Мы приказываем Git игнорировать весь каталог ll_env, потому что можем автоматически воссоздать его в любой момент. 
#Также в системе контроля не отслежива- ется каталог __pycache__ с файлами  .pyc, которые создаются автоматически, 
#когда Django выполняет файлы  .py. Мы не отслеживаем изменения в локальной базе данных, потому что так поступать 
#вообще нежелательно: если на сервере будет использоваться SQLite, вы можете случайно переписать «живую» базу 
#данных локальной тестовой базой данных при отправке проекта на сервер. Звездочка в выражении *.sqlite3 приказывает 
#Git игнорировать любые файлы с расширением .sqlite3.

#Если вы используете macOS, добавьте .DS_Store в файл  .gitignore. В этом файле хранится информация о 
#настройках папок в macOS, и он не имеет никакого отношения к этому проекту.