
{% extends "learning_logs/base.html" %}

{% block content %}

<p><a href="{% url 'learning_logs:topic' topic.id %}">{{ topic }}</a></p>
  <p>Edit entry:</p>
  <form action="{% url 'learning_logs:edit_entry' entry.id %}" method='post'>
    <!--аргумент action отправляет форму функции edit_entry() для обработ- ки. Идентификатор записи включается как аргумент в тег {url} , чтобы функция представления могла изменить правильный объект записи.-->
    {% csrf_token %}
    {{ form.as_p }}
    <button name="submit">save changes</button>
  </form>
{% endblock content %}