{% extends "learning_logs/base.html" %}

{% block content %}

<p>Add a new topic:</p>

<form action="{% url 'learning_logs:new_topic' %}" method='post'> <!--определяется форма HTML. Аргумент action сообщает серверу, куда передавать данные, отправленные фор- мой; в данном случае данные возвращаются функции представления new_topic(). Аргумент method приказывает браузеру отправить данные в запросе типа POST.-->
    {% csrf_token %} <!--Django использует шаблонный тег {% csrf_token %}  для предотвращения попыток получения несанкционированного доступа к серверу (атаки такого рода называются межсайтовой подделкой запросов)-->
    {{ form.as_p }} <!--Чтобы автоматически создать все поля, необходимые для отображения формы, достаточно включить шаблонную переменную {{ form.as_p }}. Модификатор as_p приказывает Django отобразить все элементы формы в формате абзацев — это простой способ аккуратного отображения формы.-->
    <button name="submit">add topic</button>
</form>

{% endblock content %}



